.eachcoin{
    border: 1px solid black;
    margin-top: 0.5rem;
    width: 250px;
    height: 230px;
    text-decoration: none;
    
    
}
a{
    text-decoration: none;
    color: black;
}
.eachcoin .section{
    display: flex;
    padding: 0.5rem;
    justify-content: flex-start;
}
.image{
    height: 3.5rem;
}
.totalcoins{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
    /* justify-content: center; */

}
.symbol{
    text-transform: uppercase;
    font-weight: 200;
}
.eachcoin .text{
   display: flex;
   flex-direction: column;
}
.eachcoin .text .names{
    padding: 1rem;
}
.textsec{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    font-size: 13px;
}